.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.main h1 {
  padding: 20px;
  text-transform: uppercase;
  color: #a3c4f3;
}

.main h1:hover {
  cursor: pointer;
  color: #218380;
}

.githubCalendar {
  color: #ccff33;
  margin-bottom: 50px;
  overflow: hidden;
}
.githubStat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 80px;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .githubCalendar {
    color: #ccff33;
    margin-bottom: 50px;
    box-sizing: border-box;
    width: auto;
    padding: 8px;
  }

  .githubStat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;

    margin: auto;
  }
  .al {
    width: 100%;
    margin-left: 30px;
  }

  .githubStat .al p {
    width: 100%;
  }

  .githubStat .al p img {
    width: 80%;
  }

  .main h1 {
    padding: 10px;
    text-transform: uppercase;
  }

  .main h1:hover {
    cursor: pointer;
    color: #218380;
  }
}
