.hero-img::before {
  content: "";
  background: url("../assets/jefferson-santos-9SoCnyQmkzI-unsplash.jpg");
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.profileP {
  width: 100%;
  padding: 5rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileP > img {
  width: 25%;
  object-fit: cover;
  height: 40vh;
  border-radius: 60%;
}

.profileP > p {
  flex-wrap: wrap;
  width: 290px;
  font-size: 25px;
  padding: 0.5rem 0rem;
}

.profileP > p > span {
  color: #f2e901;
}

@media screen and (max-width: 767px) {
  .profileP > img {
    width: 70%;
    height: 20vh;
    object-fit: cover;
    border-radius:50%;
    background-position: center;
  }

  .profileP > p {
    font-size: 18px;
    flex-wrap: wrap;
    width: 150px;
  
  }

  .profileP > p > span {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profileP > img {
    width: 40%;
    height: 200px;
    border-radius: 60%;
    background-position: center;
    object-fit: cover;
  }
}
